html{
    display:block;
    height: 99%;
    font: 1em sans-serif;
    background-color: rgb(255, 255, 255);
    color: black;
}

body{
    display: block;
    height: 99%;
}

header{
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    height: 10%;
}
.choix{
    margin-top: 2%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.choix>div{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-size: larger;
}

button{
    display: inline-block;
    color: black;
    background-color: rgb(255, 189, 89);
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

button:hover{
    background-color: black;
    color: white;
}
.titre{

    display: flex;
    align-items: center;

    width: 30%;
}
.titre>div{
    display: flex;

    align-items: center;
    width: 45%;
}
.titre>div>div{
    background-color: rgb(255, 189, 89);
    width: 40px;
    height: 40px;
    border-radius: 60%;
    margin-right: 5%;
}
.titre>p{
    margin-left: 1%;
}
a{
    text-decoration: none;
    color: black;
}
.liens{

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 10%;
}

.separe{
    background-color: black;
    box-shadow: 1px 3px 5px grey ;
    height: 1px;
    width: 100%;
}

main{
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    font-size: 20px;
}
main>div>div{
    background-color:white;
    border-radius: 5px;
    margin-top: 2%;
    margin-left: 2%;
    color: black;
    width: 96%;
    height: 100%;
    border:  solid black;
    border-top: 10px solid rgb(255, 189, 89);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titreRetex{
    display: flex;
    margin-left: 30%;
    width: 50%;
    justify-content: space-between;
}



.explication{
   display: flex;
   justify-content: space-around;
   width: 100%;
}

.explication>div{
    width: 40%;
}
.metho{
    width: 40%;
}

.explication>h4{
    margin-bottom: 0%;
}
main h1{
    background-color: rgb(255, 189, 89);
    padding: 1%;
    border: 5px solid  black;
}

img{
    height: 95%;
    width: 40%;
}
.images{
    display: flex;
    justify-content: space-around;

    width: 100%;
    margin-bottom: 1%;
}